/* Basis styling */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --gold: #FCE4B6;
    --green:#013121;
    --background:#1C1C1C;
    --white:#F2F2F2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body{
    background-color: var(--background);
}

h1{
    font-family: "Noto Serif Display", serif;
    font-weight: 300;
    font-size: 38px;
    color: var(--gold);
}

h2{
 font-family: "Noto Serif Display", serif;
     font-weight: 300;
    font-size: 30px;
    color: var(--gold);
}

h3{
 font-family: "Noto Serif Display", serif;
     font-weight: 300;
    font-size: 20px;
    color: var(--gold);
}

p{
    font-family: "Barlow", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--white);
}

@media (min-width:768px){
   h1{
    font-size: 60px;
   }

   h2{
    font-size: 45px;
   }

   h3{
    font-size: 30px;
   }

   p{
    font-size: 20px;
    line-height: 30px;
   }
}